body {
  color: olive;
  background-color: azure;
  line-height: 1.5;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  display: grid;
  text-align: center;
}

h1,
h2 {
  margin-top: 0;
}

.book_self {
  gap: 15px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(275px, 1fr));
}

.self {
  display: contents;
}

.bookcover {
  background-color: #901a1a;
  border: 5px solid goldenrod;
  padding: 8px;
  display: grid;
  grid-template-rows: 7;
}

.bookcover > div {
  grid-row: 1 / 6;
  color: gold;
  background-color: #901a1a;
}

.button-67 {
  justify-self: center;
  align-self: center;
  margin-top: 25px;
  margin-bottom: 25px;
  align-items: center;
  background: #13bd57;
  border: 0;
  border-radius: 8px;
  box-shadow: -10px -10px 30px 0 #fff, 10px 10px 30px 0 #1d0dca17;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: flex;
  font-family: "Cascadia Code", Consolas, Monaco, "Andale Mono", "Ubuntu Mono",
    monospace;
  font-size: 1rem;
  justify-content: center;
  line-height: 1.5rem;
  padding: 35px;
  position: relative;
  text-align: left;
  transition: 0.2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: pre;
  width: max-content;
  word-break: normal;
  word-spacing: normal;
}

.button-67:hover {
  background: palegreen;
  box-shadow: -15px -15px 30px 0 #fff, 15px 15px 30px 0 #1d0dca17;
}

.button-64 {
  margin-top: 5px;
  background: #13bd57;
  border: 1px solid gold;
  border-radius: 6px;
  box-shadow: rgba(13, 189, 25, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
  font-size: 14px;
  font-weight: 800;
  line-height: 6px;
  min-height: 10px;
  outline: 0;
  padding: 7px 9px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button-64:hover {
  background-color: palegreen;
  background-position: 0 0;
  color: black;
}
