body {
  color: olive;
  background-color: azure;
  line-height: 1.6;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  display: grid;
}

.self {
  gap: 15px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  grid-template-rows: repeat(2, 1fr);
}

button:hover {
  color: chartreuse;
  background-color: chocolate;
}

.bookcover {
  background-color: #901a1a;
  border: 5px solid goldenrod;
  padding: 10px;
  display: grid;
}

.bookcover > div {
  color: gold;
  background-color: #901a1a;
}
